CLIENT_ORIGIN=https://calebtonny.alwaysdata.net
PORT=5000
DB_HOST=your-alwaysdata-mysql-host
DB_PORT=3306
DB_USER=your-alwaysdata-db-user
DB_PASSWORD=your-alwaysdata-db-password
DB_NAME=your-alwaysdata-db-name
